@page "/vatandaslik-islemleri"
@model GucluConsultancy.Pages.Services.CitizenshipModel

@{
	ViewData["Title"] = "Vatandaşlık İşlemleri";
}

<section class="page-header">
	<div class="container">
		<h1>Vatandaşlık İşlemleri</h1>
	</div>
</section>

<section class="page-content">
	<div class="container">

		<div class="content-image">
			<img src="~/img/citizenship.jpg" alt="Turkish flag" />
		</div>

		<p>Türkiye Cumhuriyeti vatandaşlığına geçmek isteyen yabancıların işlemlerinde müracaat, işlemler ve takip aşamalarında hizmet vermekteyiz.</p>

		<p class="action-line"><a asp-page="/Contact" class="button button-action">Başvurmak İçin Bize Ulaşın</a></p>

	</div>
</section>