@page "/elektronik-imza"
@model GucluConsultancy.Pages.Services.ESignModel

@{
  ViewData["Title"] = "Elektronik İmza Satışı";
}

<section class="page-header">
  <div class="container">
    <h1>E-Tuğra Elektronik İmza Satışı</h1>
  </div>
</section>

<section class="page-content">
  <div class="container">

    <div class="content-image">
      <img src="~/img/esign.png" alt="An e-sign usb drive" />
    </div>

    <p>İzmit ve Gebze bürolarımızda Etuğra elektronik imza satışı yapıyoruz ve elektronik imzayı hemen teslim ediyoruz.</p>

    <p>İstenildiği taktide Kocaeli, Sakarya, Düzce, Yalova ve İstanbul Anadolu yakası bölgesine yol masraflarını da ilave ederek Etuğra elektronik imzayı size getiriyoruz ve hemen teslim ediyoruz.</p>

    <p class="action-line"><a asp-page="/Contact" class="button button-action">Başvurmak İçin Bize Ulaşın</a></p>

  </div>
</section>