@page "/tercumanlik-hizmetleri"
@model GucluConsultancy.Pages.Services.TranslationModel

@{
	ViewData["Title"] = "Tercümanlık Hizmeltleri";
}

<section class="page-header">
	<div class="container">
		<h1>Tercümanlık Hizmeltleri</h1>
	</div>
</section>

<section class="page-content">
	<div class="container">

		<div class="content-image">
			<img src="~/img/translation.jpg" alt="A keyboard with country flags as keys" />
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae nibh et risus convallis interdum. Fusce arcu tellus, fringilla eget semper et, commodo ac metus. Sed iaculis iaculis sagittis. Aliquam nunc nisi, rutrum porttitor pretium eu, posuere in arcu. Donec tempus eros quam, id varius nisl aliquam at. Morbi nec ligula sed metus lacinia interdum. Ut consectetur aliquet risus, nec finibus massa porttitor non. Aliquam at dui tincidunt, lobortis tellus ac, vestibulum massa. Suspendisse a velit feugiat, efficitur nibh eu, lobortis purus.</p>

		<p>Proin congue ultricies odio, non mollis arcu tempus eget. Nulla efficitur pulvinar dolor vitae lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras non metus nec justo auctor ornare id at diam. Nam ut purus arcu. Sed sodales, ipsum ac lacinia sagittis, nisi velit lobortis dolor, id ullamcorper leo leo ut nunc. Mauris auctor consequat quam, nec varius odio sollicitudin vitae. Praesent ac dolor eget justo venenatis pulvinar. Nulla sit amet tortor ac nunc laoreet accumsan. Nulla convallis in lacus eget aliquet.</p>

		<p>Nulla vestibulum varius vehicula. Sed ante ex, consectetur maximus nisl sed, sagittis aliquam ex. In sapien enim, interdum non tristique eget, imperdiet a risus. Proin quis sollicitudin enim. Morbi tempus tincidunt elit, nec aliquet felis scelerisque et. Sed auctor venenatis nisl, at commodo massa feugiat ac. Aenean condimentum pharetra urna eget sodales. Suspendisse suscipit, leo in fringilla ornare, turpis leo ultrices magna, non posuere lorem libero eu est. Maecenas laoreet aliquam velit, eget porta enim vehicula et.</p>

		<p class="action-line"><a asp-page="/Contact" class="button button-action">Başvurmak İçin Bize Ulaşın</a></p>

	</div>
</section>