@page "/vize-islemleri"
@model GucluConsultancy.Pages.Services.VisaModel

@{
  ViewData["Title"] = "Vize İşlemleri";
}

<section class="page-header">
  <div class="container">
    <h1>Vize İşlemleri</h1>
  </div>
</section>

<section class="page-content">
  <div class="container">

    <div class="content-image">
      <img src="~/img/visa.jpg" alt="A passport sitting on top of a map" />
    </div>

    <p>Çalışma, iş görüşmesi, ziyaret, turistik, tedavi ve öğrenim gibi amaçlarla Türkiye’ye gelmek isteyenlerin vize işlemlerinde hizmet vermekteyiz.</p>

    <p class="action-line"><a asp-page="/Contact" class="button button-action">Başvurmak İçin Bize Ulaşın</a></p>

  </div>
</section>