@page "/hakkimizda"
@model GucluConsultancy.Pages.AboutModel

@{
  ViewData["Title"] = "Hakkımızda";
}

<section class="page-header">
  <div class="container">
    <h1>Hakkımızda</h1>
  </div>
</section>

<section class="page-content">
  <div class="container">
    <div class="about-page-text-and-image">
      <div>
        <h2>Biz Kimiz?</h2>
        <p>Sayın değerli ziyaretçemiz, web sayfamıza hoşgeldiniz.</p>
        <p>Yaklaşık 10 yıl Yabancılar Şube Müdürlüğünde ve Göç İdaresi Müdürlüğünde çalıştıktan sonra 2015 yılında emekli oldum. Edindiğim tecrübler ile <strong><em>en iyi</em></strong> göç danışmanlığı hizmetlerini verebileceğim Güçlü Yabancılar Danışmanlık şirketini kurdum.</p>
        <p>2016 yılından itibaren Türkiye’de çalışmak, yaşamak, turizm amaçlı gezmek, eğitim görmek, yatırım yapmak, şirket kurmak isteyen yabancılara Güçlü Yabancılar Danışmanlık olarak hizmet vermekteyiz.</p>
      </div>
      <figure class="founder-image-container">
        <img src="~/img/founder-photo.jpg" alt="Photo of the founder, Beyazıt Güçlü" />
        <figcaption>Beyazıt Güçlü, Kurucu</figcaption>
      </figure>
    </div>

    <h2>Neler Yaptık?</h2>

    <p>31 Mart 2021 tarihi itibarı ile yaklaşık <strong>1100 şirkette ve 100 ev hizmetlerinde çalışmak üzere toplam 1200 yabancıya</strong> çalışma izni müracaatında bulunduk. Bu müracaatlar <strong>%95 oranında olumlu sonuçlanarak çalışma izinleri alındı</strong>.</p>

    <p>Öncelikle <strong>yasalara uygun, hızlı, güvenli ve memnuniyetiniz</strong> ön plana alınarak hesaplı ve makul fiyatlarda hizmet vermekteyiz. Talep etmeniz halinde <strong>danışmanlık faaliyetlerimizi ayağınıza getiriyoruz</strong>. Randevu verdiğiniz tarihte işyerinize gelerek işlemleri yapmaktayız.</p>

    <p>Çalışma izni işlemlerinde şirketinizin SGK e-bildirge yetkilisinin (yani 26 haneli SGK numarası tanımlı olan yetkilinizin) elektronik imzası gerekmektedir. Elektronik imzanızın olmaması halinde <strong>ETUĞRA marka elektronik imza satışını da çalışma izni müracaata başlarken satıyoruz ve hemen teslim ediyoruz</strong>. Bu durumda ayrıca elektronik imza satin almak için zaman kaybınız olmayacaktır.</p>

    <p>Sizlere en iyi şekilde hizmet vermekten memnuniyet duyarız.</p>

  </div>
</section>