@page "/iletisim"
@model GucluConsultancy.Pages.ContactModel

@{
	ViewData["Title"] = "İletişim";
}

<section class="page-header">
	<div class="container">
		<h1>İletişim</h1>
	</div>
</section>

<section class="page-content">
	<div class="container">

		<div class="card-container address-container">
			<div class="card-text">
				<h2>İzmit Büro</h2>
				<div class="address-line">
					<div class="address-icon">
						<i class="fas fa-phone"></i>
					</div>
					<div>
						<a href="tel:+905306430180">+(90) 530 643 01 80</a>
						<br />
						<a href="tel:+905326094180">+(90) 532 609 41 80</a>
					</div>
				</div>
				<div class="address-line">
					<div class="address-icon">
						<i class="fas fa-map-marker-alt"></i>
					</div>
					<div>
						Ayazma Mah. 17 Ağustos Bulvarı Bayındırlık iş Merkezi No:118/20 İzmit/KOCAELİ
						<br />
						(Kocaeli Göç İdaresi Müdürlüğüne 50 metre)
					</div>
				</div>
				<div class="address-line">
					<div class="address-icon">
						<i class="fas fa-envelope"></i>
					</div>
					<div>
						<a href="mailto:gucludanismanliknet@gmail.com">gucludanismanliknet@gmail.com</a>
						<br />
						<a href="mailto:bguclu5466@gmail.com">bguclu5466@gmail.com</a>
					</div>
				</div>
			</div>
			<div class="address-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.230789847348!2d29.95023001527036!3d40.80092197932238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f8f0511552b%3A0xeb3f24bf69254459!2zR8O8w6dsw7wgRGFuxLHFn21hbmzEsWsgxLB6bWl0!5e0!3m2!1sen!2str!4v1617740410833!5m2!1sen!2str" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>

		<div class="card-container address-container">
			<div class="card-text">
				<h2>Gebze Büro</h2>
				<div class="address-line">
					<div class="address-icon">
						<i class="fas fa-phone"></i>
					</div>
					<div>
						<a href="tel:+905306430180">+(90) 530 643 01 80</a>
						<br />
						<a href="tel:+905395581180">+(90) 539 558 11 80</a>
					</div>
				</div>
				<div class="address-line">
					<div class="address-icon">
						<i class="fas fa-map-marker-alt"></i>
					</div>
					<div>
						Mevlana Mah. Soma Şehitleri Bulvarı Elmas Plaza No:4/1 Kat:3 D:17 Gebze/KOCAELİ
						<br />
						(Gebze Göç İdaresi Müdürlüğüne 50 metre-Gebze Adliyesi yanı)
					</div>
				</div>
				<div class="address-line">
					<div class="address-icon">
						<i class="fas fa-envelope"></i>
					</div>
					<div>
						<a href="mailto:gucludanismanliknet@gmail.com">gucludanismanliknet@gmail.com</a>
						<br />
						<a href="mailto:bguclu5466@gmail.com">bguclu5466@gmail.com</a>
					</div>
				</div>
			</div>
			<div class="address-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.230789847348!2d29.95023001527036!3d40.80092197932238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f8f0511552b%3A0xeb3f24bf69254459!2zR8O8w6dsw7wgRGFuxLHFn21hbmzEsWsgxLB6bWl0!5e0!3m2!1sen!2str!4v1617740410833!5m2!1sen!2str" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>

	</div>
</section>