@page "/"
@model GucluConsultancy.Pages.IndexModel

<partial name="_StatusMessage" model="Model.StatusMessage" />

<section class="lead">
  <div class="container">
    <div class="lead-image"></div>
    <div class="lead-text">
      <h1>Göç Danışmanlığında Güvenilir Adresiniz</h1>
      @*<p class="no-mobile">Yasalara uygun, hızlı, hesaplı ve yerinde danışmanlık hizmeti. Geniş yelpazede hizmetleri ile göç danışmanlığında <em>tek adresiniz</em>.</p>*@
      <p>İkamet izni randevusu, çalışma izni, e-imza ve vize işlemleri için İzmit ve Gebze şubelerimiz başta olmak üzere Türkiye genelinde danışmanlık hizmeti vermekteyiz.</p>
      <a asp-page="/Contact" class="button button-action">Hemen Bize Ulaşın</a>
    </div>
  </div>
</section>

<section class="services">
  <div class="container">
    <h2>Hizmetlerimiz</h2>
    <div class="service-cards">
      <div class="service-card">
        <p class="service-text"><b>100₺</b>’den başlayan fiyatlarla<br /><b>İKAMET İZNİ</b><br />randevularını alıyoruz</p>
        <div class="service-image">
          <img src="~/img/service-ikamet.png" alt="İkamet izin kartı" />
        </div>
        <a asp-page="/Services/ResidencyPermit/Index" class="button button-service">Hemen Başvurun</a>
      </div>
      <div class="service-card">
        <p class="service-text"><b>750₺</b>’den başlayan fiyatlarla<br /><b>ÇALIŞMA İZNİ</b><br />işlemlerini yapıyoruz</p>
        <div class="service-image">
          <img src="~/img/service-calisma.png" alt="Çalışma izin kartı" />
        </div>
        <a asp-page="/Services/WorkPermit/Index" class="button button-service">Hemen Başvurun</a>
      </div>
      <div class="service-card">
        <p class="service-text"><b>240₺</b>’den başlayan fiyatlarla<br /><b>E-TUĞRA E-İMZA SATIŞI</b><br />işlemlerini yapıyoruz</p>
        <div class="service-image">
          <img src="~/img/esign-service.jpg" alt="E-imza usb belleği" />
        </div>
        <a asp-page="/Services/ESign" class="button button-service">Hemen Başvurun</a>
      </div>
      <div class="service-card">
        <p class="service-text"><b>350₺</b>’den başlayan fiyatlarla<br /><b>VİZE BAŞVURU</b><br />işlemlerini yapıyoruz</p>
        <div class="service-image">
          <img src="~/img/service-visa.png" alt="Masa üzerinde pasaport" />
        </div>
        <a asp-page="/Services/Visa" class="button button-service">Hemen Başvurun</a>
      </div>
    </div>
  </div>
</section>

<section class="external-links">
  <h2>Yararlı Linkler</h2>
  <div class="container">
    <div class="external-link-container">
      <p>Göç İdaresi Genel Müdürlüğü internet sayfasından ikamet izni randevu alınması işlemlerinde Kocaeli, İstanbul ve Ankara başta olmak üzere Türkiye genelinde danışmanlık hizmeti vermekteyiz.</p>
      <p><a href="https://www.goc.gov.tr" target="_blank">Göç İdaresi Genel Müdürlüğü web sayfası&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></p>
    </div>
    <div class="external-link-container">
      <p>Aile Çalışma ve Sosyal Hizmetler Bakanlığından çalışma izni alınması işlemlerinde Kocaeli, İstanbul ve Ankara illeri başta olmak üzere Türkiye genelinde danışmanlık hizmeti vermekteyiz.</p>
      <p><a href="https://ailevecalisma.gov.tr" target="_blank">Aile Çalışma ve Sosyal Hizmetler Bakanlığı&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a></p>
    </div>
  </div>
</section>