@page "/kullanici-sozlesmesi"
@model GucluConsultancy.Pages.UserAgreementModel

@{
	ViewData["Title"] = "Kullanıcı Sözleşmesi";
}

<section class="page-header">
	<div class="container">
		<h1>Kullanıcı Sözleşmesi</h1>
	</div>
</section>

<section class="page-content user-agreement">
	<div class="container">

		<div id="ikamet">
			<h2>Yabancı Uyruklu Vatandaşlara İkamet İzni Rendevusu Alınmasına İlişkin Sözleşme</h2>
			<p><b>KONU:</b> Göç İdaresi Genel Müdürlüğünün <a href="https://e-ikamet.goc.gov.tr/" target="_blank">https://e-ikamet.goc.gov.tr/</a> internet adresinde ikamet izni randevusu alınması</p>
			<p><b>TARAFLAR:</b></p>
			<ul>
				<li>
					Güçlü Yabancılar Danışmanlık-Beyazıt GÜÇLÜ-Çalışan Personel
					<br />
					Merkezi Ayazma Mahallesi 17 Ağustos Bulvarı No:118/20 İzmit/Kocaeli
				</li>
			</ul>
			<p>Şubesi Mevlana Mahallesi Soma Şehitleri Caddesi No:4/1 K:3 D:17 Gebze/Kocaeli adresinde faaliyet göstermekteyiz. İnternette web sayfamızda <a href="http://www.gucludanismanlik.net/" target="_blank">http://www.gucludanismanlik.net/</a> internet adresinde ikamet izni randevusu alınması için kendi isteği ile bilgi ve belgelerini paylaşan yabancılara Göç İdaresi Genel Müdürlüğünün <a href="https://e-ikamet.goc.gov.tr/" target="_blank">https://e-ikamet.goc.gov.tr/</a> internet adresinde randevu alınması işlemlerinde;</p>
			<p>İkamet izin alınacak kişi ile doğrudan randevu alınacak kişinin istek, beyanı, bilgi ve belge paylaşımına göre ikamet izni randevusunu alacağımızı, ranevu alındıktan sonra randevu formunu yabancının iletişim bilgilerine göndereceğimizi veya yabancıya elden teslim edeceğimizi,</p>
			<p>İkamet izni randevusu için paylaşılan bilgi ve belgeleri 3. Kişilerle paylaşmayacağımızı Güçlü Yabancılar Danışmanlık bürosunda çalışan personel olarak kabul beyan ve taahhüt ediyoruz.</p>
			<p>İkamet izni randevusu alınması için istenilen tüm bilgileri ve belgeleri kendi isteğim ile verdiğimi, vermiş olduğum bilgilere ve belgelere göre Güçlü Yabancılar Danışmanlık Beyazıt GÜÇLÜ şirketinde çalışan personel tarafından adıma ikamet izni randevusu alınmasını istediğimi, ikamet izni randevusu isteyen kişi olarak kabul beyan ve taahhüt ettiğimi okudum butonunu işaretleyerek ve gönder butonunu tıklayarak onaylıyorum.</p>
		</div>

	</div>
</section>