@page "/ikamet-izni/aile"
@model GucluConsultancy.Pages.Services.ResidencyPermit.FamilyModel

@{
  ViewData["Title"] = "Aile İkamet İzni";
}

<section class="page-header">
  <div class="container">
    <h1>Aile İkamet İzni</h1>
  </div>
</section>

<section class="page-content form-page">
  <div class="container">

    <p class="mandotary-field-warning">Zorunlu alanlar <span class="text-danger">*</span> karakteri ile işaretlenmiştir.</p>

    <form class="information-form" method="post" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly"></div>

      <section class="form-group">
        <h2>Kişisel Bilgiler</h2>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.ForeignersId"></label>
              <br />
              <span class="label-detail">daha önce ikamet izni varsa</span>
            </div>
            <input asp-for="FamilyVM.ForeignersId" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FatherName"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.FatherName" />
          </div>
          <span asp-validation-for="FamilyVM.FatherName" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.MotherName"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.MotherName" />
          </div>
          <span asp-validation-for="FamilyVM.MotherName" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.MaritalStatus"></label> <span class="text-danger">*</span>
            </div>
            <select asp-for="FamilyVM.MaritalStatus">
              <option value="" selected disabled>-- Seçiniz --</option>
              <option value="Evli">Evli</option>
              <option value="Bekar">Bekar</option>
              <option value="Boşanmış">Boşanmış</option>
              <option value="Dul">Dul</option>
            </select>
          </div>
          <span asp-validation-for="FamilyVM.MaritalStatus" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.BirthCountry"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.BirthCountry" />
          </div>
          <span asp-validation-for="FamilyVM.BirthCountry" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.BirthNationality"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.BirthNationality" />
          </div>
          <span asp-validation-for="FamilyVM.BirthNationality" class="text-danger"></span>
        </div>
      </section>

      <section class="form-group">
        <h2>İletişim Bilgileri</h2>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.PhoneNumber"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.PhoneNumber" />
          </div>
          <span asp-validation-for="FamilyVM.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.EmailAddress"></label>
            </div>
            <input asp-for="FamilyVM.EmailAddress" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.AddressAbroad"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.AddressAbroad" />
          </div>
          <span asp-validation-for="FamilyVM.AddressAbroad" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.AddressTurkey"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.AddressTurkey" />
          </div>
          <span asp-validation-for="FamilyVM.AddressTurkey" class="text-danger"></span>
        </div>
      </section>

      <section class="form-group">
        <h2>Diğer Bilgiler</h2>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.MonthlyIncome"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.MonthlyIncome" value="" />
          </div>
          <span asp-validation-for="FamilyVM.MonthlyIncome" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.DesiredResidencyDuration"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.DesiredResidencyDuration" value="" />
          </div>
          <span asp-validation-for="FamilyVM.DesiredResidencyDuration" class="text-danger"></span>
        </div>
      </section>

      <section class="form-group">
        <h2>Aile İkamet İzni Aldığı Kişinin;</h2>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FamilyMemberEmailAddress"></label>
            </div>
            <input asp-for="FamilyVM.FamilyMemberEmailAddress" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FamilyMemberPhoneNumber"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.FamilyMemberPhoneNumber" />
          </div>
          <span asp-validation-for="FamilyVM.FamilyMemberPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FamilyMemberOccupation"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.FamilyMemberOccupation" />
          </div>
          <span asp-validation-for="FamilyVM.FamilyMemberOccupation" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FamilyMemberMonthlyIncome"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.FamilyMemberMonthlyIncome" value="" />
          </div>
          <span asp-validation-for="FamilyVM.FamilyMemberMonthlyIncome" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FamilyMemberHomeAddress"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.FamilyMemberHomeAddress" />
          </div>
          <span asp-validation-for="FamilyVM.FamilyMemberHomeAddress" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="FamilyVM.FamilyMemberFamilySize"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="FamilyVM.FamilyMemberFamilySize" value="" />
          </div>
          <span asp-validation-for="FamilyVM.FamilyMemberFamilySize" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="FamilyMemberIdCard">Nüfus cüzdanı fotoğrafı</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="FamilyMemberIdCard" id="FamilyMemberIdCard" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="FamilyMemberInsurance">Sağlık sigortası</label>
            </div>
            <input type="file" name="FamilyMemberInsurance" id="FamilyMemberInsurance" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="FamilyMemberWorkPermit">Yabancı ise çalışma izin belgesi</label>
            </div>
            <input type="file" name="FamilyMemberWorkPermit" id="FamilyMemberWorkPermit" />
          </div>
        </div>
      </section>

      <section class="form-group">
        <h2>Dosyalar</h2>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="BiometricPhoto">Biyometrik fotoğraf</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="BiometricPhoto" id="BiometricPhoto" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="PassportImage">Pasaport önyüz</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="PassportImage" id="PassportImage" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="PreviousResidencyCard">İkamet izin belgesi</label>
              <br />
              <span class="label-detail">daha önce ikamet izni varsa</span>
            </div>
            <input type="file" name="PreviousResidencyCard" id="PreviousResidencyCard" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label>Sağlık sigortanız var mı?</label>
            </div>
            <div class="insurance-options">
              <div>
                <label for="yes-insurance">Evet</label>
                <input type="radio" name="have-insurance" id="yes-insurance" value="yes" />
              </div>
              <div>
                <label for="no-insurance">Hayır</label>
                <input type="radio" name="have-insurance" id="no-insurance" value="no" checked />
              </div>
            </div>
          </div>
        </div>
        <div class="form-line insurance-input">
          <div class="label-input">
            <div class="label">
              <label for="Insurance">Sağlık sigortası</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="Insurance" id="Insurance" />
          </div>
        </div>
      </section>

      <div class="form-line">
        <div class="user-agreement-input">
          <input type="checkbox" id="user-agreement-check" name="user-agreement-check" required />
          <label for="user-agreement-check">
            <a asp-page="/UserAgreement" target="_blank">Kullanıcı sözleşmesini</a> okuduğumu ve kabul ettiğimi onaylıyorum.
          </label>
        </div>
        <button type="submit" class="button button-action" onclick="return validateInput()">Gönder</button>
      </div>
    </form>

  </div>
</section>

@section Scripts {

  <partial name="_ValidationScriptsPartial" />

  <environment include="Development">
    <script src="~/js/insurance-checker.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/js/insurance-checker.min.js"></script>
  </environment>

  <script>
    function validateInput()
    {
      if (document.getElementById("BiometricPhoto").value === "")
      {
        swal("Lütfen biyometrik fotoğraf yükleyiniz.", "error");
        return false;
      }
      else if (document.getElementById("PassportImage").value === "")
      {
        swal("Lütfen pasaport önyüz yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#yes-insurance").checked && document.querySelector("#Insurance").value === "")
      {
        swal("Lütfen sağlık sigortası yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#FamilyMemberIdCard").value === "")
      {
        swal("Lütfen aile ikamet izni alınan kişinin nüfus cüzdanını yükleyiniz.", "error");
        return false;
      }
      else if (!document.querySelector("#user-agreement-check").checked)
      {
        swal("Lütfen kullanıcı sözleşmesini onaylayınız.", "error");
        return false;
      }

      return true;
    }
  </script>

}