@page
@model GucluConsultancy.Pages.Services.WorkPermit.InternationalProtectionModel

@{
  ViewData["Title"] = "Uluslararası Koruma Kapsamındaki Yabancılara Çalışma İzni";
}

<section class="page-header">
  <div class="container">
    <h1>Uluslararası Koruma Kapsamındaki Yabancılara Çalışma İzni</h1>
  </div>
</section>

<section class="page-content form-page">
  <div class="container">

    <p class="mandotary-field-warning">Zorunlu alanlar <span class="text-danger">*</span> karakteri ile işaretlenmiştir.</p>

    <form class="information-form" method="post" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly"></div>

      <section class="form-group">
        <h2>Şirket Bilgileri</h2>
        <p class="form-group-info">
          <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Şirketin SGK e-bildirge sorumlusunun elektronik imzası yok ise <strong>E-Tuğra marka elektronik imza tarafımızdan satılmaktadır.</strong>
        </p>
        <p class="form-group-info">
          <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Sözleşme tarafımızdan hazırlanır
        </p>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.SgkNumber"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.SgkNumber" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.SgkNumber" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.CompanyPhoneNumber"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.CompanyPhoneNumber" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.CompanyPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.CompanyEmailAddress"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.CompanyEmailAddress" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.CompanyEmailAddress" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerJobDetails"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerJobDetails" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerJobDetails" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ReasonToHireForeigner"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ReasonToHireForeigner" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ReasonToHireForeigner" class="text-danger"></span>
        </div>
      </section>

      <section class="form-group">
        <h2>Yabancı Bilgileri</h2>
        <p class="form-group-info">
          <i class="fas fa-info-circle"></i>&nbsp;&nbsp;Yabancı henüz kayıt olmadıysa İlçe Nüfus Müdürlüğüne adres kaydı yaptırması gerekiyor.
        </p>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerFatherName"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerFatherName" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerFatherName" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerPhoneNumber"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerPhoneNumber" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerEmailAddress"></label>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerEmailAddress" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerAbroadAddress"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerAbroadAddress" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerAbroadAddress" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerSpouseFullName"></label>
              <br />
              <span class="label-detail">evli ise</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerSpouseFullName" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerSpouseNationality"></label>
              <br />
              <span class="label-detail">evli ise</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerSpouseNationality" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerMotherLanguage"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerMotherLanguage" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerMotherLanguage" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerTurkishLevel"></label> <span class="text-danger">*</span>
            </div>
            <select asp-for="InternationalProtectionVM.ForeignerTurkishLevel">
              <option value="Az">Az</option>
              <option value="Normal">Normal</option>
              <option value="İyi">İyi</option>
            </select>
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerTurkishLevel" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerOtherLanguages"></label>
              <br />
              <span class="label-detail">Virgül ile ayırarak yazınız</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerOtherLanguages" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerEducationStatus"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerEducationStatus" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerEducationStatus" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerLastGraduatedSchoolAndPlace"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerLastGraduatedSchoolAndPlace" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerLastGraduatedSchoolAndPlace" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerProfessionalQualification"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerProfessionalQualification" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerProfessionalQualification" class="text-danger"></span>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label asp-for="InternationalProtectionVM.ForeignerSpecializationSubject"></label> <span class="text-danger">*</span>
            </div>
            <input asp-for="InternationalProtectionVM.ForeignerSpecializationSubject" />
          </div>
          <span asp-validation-for="InternationalProtectionVM.ForeignerSpecializationSubject" class="text-danger"></span>
        </div>
      </section>

      <section class="form-group">
        <h2>Dosyalar</h2>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="CorporateTaxReturn">2019 Kurumlar Vergisi Beyannamesi (PDF)</label> <span class="text-danger">*</span>
              <br />
              <span class="label-detail">
                (1) Ödenmiş sermayesi en az 100 TL veya brüt satışlarının en az 800.000 TL olması,
                (2) En az 5 T.C. Vatandaşı sigortalı olarak çalışması gerekiyor
              </span>
            </div>
            <input type="file" name="CorporateTaxReturn" id="CorporateTaxReturn" accept=".pdf" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="TradeRegistryGazette">Türkiye Ticaret Sicil Gazetesi (PDF)</label> <span class="text-danger">*</span>
              <br />
              <span class="label-detail">
                Kuruluşun en son sermaye ve ortaklık yapısını gösteren belge
              </span>
            </div>
            <input type="file" name="TradeRegistryGazette" id="TradeRegistryGazette" accept=".pdf" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="OperatingCertificate">Faaliyet Belgesi (PDF)</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="OperatingCertificate" id="OperatingCertificate" accept=".pdf" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="ForeignerBiometricPhoto">Yabancı biyometrik fotoğrafı</label> <span class="text-danger">*</span>
              <br />
              <span class="label-detail">son 6 ay içinde çekilmiş</span>
            </div>
            <input type="file" name="ForeignerBiometricPhoto" id="ForeignerBiometricPhoto" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="ForeignerPassport">Yabancının pasaport fotoğraflı sayfası</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="ForeignerPassport" id="ForeignerPassport" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="ForeignerPassportLastTurkeyEntryPage">Yabancının pasaport Türkiye'ye son giriş tarihli sayfası</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="ForeignerPassportLastTurkeyEntryPage" id="ForeignerPassportLastTurkeyEntryPage" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="ForeignerResidencyPermit">Yabancının ikamet izni belge fotoğrafı</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="ForeignerResidencyPermit" id="ForeignerResidencyPermit" />
          </div>
        </div>
        <div class="form-line">
          <div class="label-input">
            <div class="label">
              <label for="ForeignerDiplomaOrCertificate">Yabancıya ait Türkçe tercümeli Diploma/Bonservis/Sertifika (PDF)</label> <span class="text-danger">*</span>
            </div>
            <input type="file" name="ForeignerDiplomaOrCertificate" id="ForeignerDiplomaOrCertificate" accept=".pdf" />
          </div>
        </div>
      </section>

      <div class="form-line">
        <div class="user-agreement-input">
          <input type="checkbox" id="user-agreement-check" name="user-agreement-check" required />
          <label for="user-agreement-check">
            <a asp-page="/UserAgreement" target="_blank">Kullanıcı sözleşmesini</a> okuduğumu ve kabul ettiğimi onaylıyorum.
          </label>
        </div>
        <button type="submit" class="button button-action" onclick="return validateInput()">Gönder</button>
      </div>
    </form>

  </div>
</section>

@section Scripts {

  <partial name="_ValidationScriptsPartial" />

  <script>
    function validateInput()
    {
      if (document.querySelector("#CorporateTaxReturn").value === "")
      {
        swal("Lütfen 2019 Kurumlar Vergisi Beyannamesi yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#TradeRegistryGazette").value === "")
      {
        swal("Lütfen Türkiye Ticaret Sicil Gazetesi yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#OperatingCertificate").value === "")
      {
        swal("Lütfen Faaliyet Belgesi yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#ForeignerBiometricPhoto").value === "")
      {
        swal("Lütfen yabancının biyometrik fotoğrafını yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#ForeignerPassport").value === "")
      {
        swal("Lütfen yabancının pasaport fotoğraflı sayfasını yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#ForeignerPassportLastTurkeyEntryPage").value === "")
      {
        swal("Lütfen yabancının pasaport Türkiye'ye son giriş tarihli sayfasını yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#ForeignerResidencyPermit").value === "")
      {
        swal("Lütfen yabancının ikamet izni belge fotoğrafını yükleyiniz.", "error");
        return false;
      }
      else if (document.querySelector("#ForeignerDiplomaOrCertificate").value === "")
      {
        swal("Lütfen yabancıya ait Türkçe tercümeli Diploma/Bonservis/Sertifika yükleyiniz.", "error");
        return false;
      }
      else if (!document.querySelector("#user-agreement-check").checked)
      {
        swal("Lütfen kullanıcı sözleşmesini onaylayınız.", "error");
        return false;
      }

      return true;
    }
  </script>

}